spring.application.name=cognify-backend

# PostgreSQL Configuration
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=

# JPA/Hibernate Configuration
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

# Neo4j Configuration (optional - comment out if not using)
#spring.neo4j.uri=
#spring.neo4j.authentication.username=
#spring.neo4j.authentication.password=

# JWT Configuration
jwt.secret=
jwt.expiration=
# Azure Blob Storage
azure.storage.blob.connection-string
azure.storage.blob.container-name
